.slider-container {
	position: relative;
	display: block;
	width: 95%;
}

#hero-slider {
	padding: 0;
	margin: 0px 0px 0px 40px;
	border-radius: 0;
}

.slider-main {
	position: relative;
	overflow: hidden;
	height: 300px;
	cursor: pointer;
}

.slider-main ul {
	width: 20000em;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-main li {
	float: left;
}

#hero-slider-nav {
	padding: 0;
	margin: 5px 0px 10px 40px;
	border-radius: 0;
	background: transparent;
}

.slider-nav {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 120px;
	float: left;
}

#hero-slider-nav .slider-link {
	display: inline-block;
	padding: 5px 5px 0px 0px;
	height: 90px;
}