            <p>&nbsp; Later, hopefully more will be added here, but until then..</p>
            <p>&nbsp; Based out of Michigan, I got the chainmailing 'bug' after stumbling on some beautiful scale bracers someone had made, and found myself mumbling, "I can probably make that..", and with a bit of hunting around for information.. well, the rest is history.</p>
            <p>&nbsp; Unfortunately, there's just not much more I can think of to say right now.  I truely hope you enjoy my crafting, and thank you for your patronage.</p>
            <p>&nbsp; </p>
            <p>&nbsp; </p>
            <p>&nbsp; A thank you goes to Easel.io for making it quite easy to get the 'basis' of the web pages together, and then to two very awesome web developers (Badger & Scotch), for taking that half finished setup and making it so much more smooth.  Also a second round of thanks go to Badger, for the hosting.</p>
