<style>
.pew {
  opacity:1;
}
.pew.ng-enter {
  transition: 0.1s linear all;
}
.pew.ng-enter {
  opacity:0;
}
.pew.ng-enter-active {
  opacity:1;
}

.pew.ng-enter-stagger {
  transition-delay: 0.05s;
  transition-duration: 0s;
}

.highlight {
  color: #f65e35;
  font-weight: bold;
}
</style>
<div class="col-xs-12 col-md-9 dkblue first-blob r15 pull-right">
  <h2>The Temporary Conglomerated Gallery</h2>
  <p>&nbsp; Pardon the fact that everything is currently 'in one place'.&nbsp; We're still expanding what items we have properly photographed, and didn't want to put people in tiny little one item galleries!</p>
  <p>&nbsp; Unless otherwise noted, everything in the Gallery can be ordered and made specifically for you in various colors or materials, including those not in the pictures, just contact us.</p>
  <p>&nbsp; Length of item can be changed.&nbsp; If it's a small change, it won't affect the price, but larger changes mean extra work and materials and thusly will change the price.&nbsp; And yes, a dramatic shortening will lower the price!&nbsp; It'd be unfair to charge for work or materials that aren't actually happening, after all.&nbsp; Change of clasps is also an option, and likely will not affect the price, unless dealing in the more expensive materials.&nbsp; Stainless Steel, titanium, niobium, silver, gold, etc.&nbsp; It's important to have the kind of closure you want, as opposed to one you will dislike and lead you to rarely wearing the handmade jewelry.&nbsp; And if you're worried about the hassle of closing lobster claw clasps (our preferred clasp, since it won't just 'slip' open and fall off!), we've got a little chain to help assist in putting them on one handed for the bracelets.</p>
  
<!--   <div class="col-xs-12 col-md-3 dkblue item col-xs-height pew" ng-repeat-start="rows in products"><hr>{{rows}}</div>huff<div ng-repeat-end></div> -->
  <div class="container-responsive container-xs-height">
    <div class="row row-xs-height pew" ng-repeat-start="rows in products | partition:3">
       <div class="col-xs-12 col-md-3 dkblue item col-xs-height" ng-repeat-start="product in rows">
          <a ng-href="/product/{{product.ID}}"><img class="img-responsive" src="{{product['IMG-Thumb']}}"></a>
          <a ng-href="/product/{{product.ID}}">{{product.title}}<p><em>{{product.Title}} - {{product.Material}}</em></p></a>
          <p ng-bind-html="product['Short-Desc']"></p>
          <p>&nbsp;</p>
          <!-- <div class="price"> -->
            <p><span ng-show="product['Sale-Price-Small'] || product['Reg-Price-Small'] || product['Sale-Price-Medium'] || product['Reg-Price-Medium']">Large Rings </span>Price - <span ng-class="product['Sale-Price-Large'] ? 'highlight' : ''">{{product['Sale-Price-Large'] || product['Reg-Price-Large']}}</span><span ng-show="product['Sale-Price-Large']"> (SALE) <span style="text-decoration: line-through;">{{product['Reg-Price-Large']}}</span></p>
            <p ng-show="product['Sale-Price-Medium'] || product['Reg-Price-Medium']">Medium Rings Price - <span ng-class="product['Sale-Price-Medium'] ? 'highlight' : ''">{{product['Sale-Price-Medium'] || product['Reg-Price-Medium']}}</span><span ng-show="product['Sale-Price-Medium']"> (SALE) <span style="text-decoration: line-through;">{{product['Reg-Price-Medium']}}</span></p>
            <p ng-show="product['Sale-Price-Small'] || product['Reg-Price-Small']">Small Rings Price - <span ng-class="product['Sale-Price-Small'] ? 'highlight' : ''">{{product['Sale-Price-Small'] || product['Reg-Price-Small']}}</span><span ng-show="product['Sale-Price-Small']"> (SALE) <span style="text-decoration: line-through;">{{product['Reg-Price-Small']}}</span></p>
          <!-- </div> -->
      </div>
      <div class="col-md-1" ng-repeat-end>&nbsp;</div>
    </div>
    <div ng-repeat-end>&nbsp;</div>
  
  </div>

</div> <!-- gallery -->
