    <div class="flexslider col-xs-12 col-md-9 dkblue r15">
      <ul class="slides">
        <li>
          <a href="product/BAG-MEDIUM-AA">
            <img src="images/bag-medium-aa-01a.jpg" />
          </a>
        </li>
        <li>
          <a href="product/EARRING-MOBIUS_3CASCADE-AA">
            <img src="images/earring-mobius_3cascade-aa-01a.jpg" />
          </a>
        </li>
        <li>
          <a href="product/BRACELET-MOBIUSV2-C">
            <img src="images/bracelet-mobiusv2-c-01b.jpg" />
          </a>
        </li>
        <li>
          <a href="product/BRACELET-DRAGONSCALE_3W-AA">
            <img src="images/bracelet-dragonscale_3w-aa-01a.jpg" />
          </a>
        </li>
      </ul>
      <span class="flexslider-controls"></span>
    </div>
    <div class="col-xs-12 col-md-9 dkblue blob r15 pull-right">
      <h1>Welcome to the home of Foxtail Artisanry.</h1>
      <p>&nbsp; This little place shows the work of our whole household, working together to make fine handmade jewelry, clothing, and other things, one bit at a time.  Every piece of chainmaille is done one ring at a time with careful attention given to the work.  Don't be shy about emailing in if you have interest in any of the pieces or want something made specially for you out of this or that weave but done in a different size or style.  Saw a bracelet you loved, but couldn't find it as a necklace?  Just ask, we can probably make it!</p>
      <p>&nbsp; Most of the gallery of items shown will have links to Etsy, Goodsmith, or even Square marketplace pages if we have pieces of that type up on it, though sometimes there is stock we'll have that won't be up on them.  If you can't find what you want on those three, definitely check in here.. &nbsp; Unless otherwise noted, everything in the Gallery can be ordered and made specifically for you in various colors or materials, including those not in the pictures, just contact us.</p>
      <p>&nbsp; Currently, jewellery is being offered in copper, bronze, brass, stainless steel, and many colors of anodized aluminium.&nbsp; Silver and gold, as well as anodized niobium and titanium are available by special order.&nbsp; Likewise, other chainmaille weaves and crystals are available by special order.&nbsp; All payments for non-Etsy items will be via Paypal.&nbsp; We will ship out of the US, via flat-rate boxes from USPS, though you'll need to talk to us first to help make sure exactly what the prices will be.</p>
      <p>&nbsp;</p>
      <p>Temporarily - All galleries lead to just one, while we get a few more things working on the new site!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-11 col-md-6">
      <div class="blob dkblue r15">
        <h2>News</h2>
        <p class="p-2 p-3">2014-09-16
          <br>We're gearing up for an upcoming convention, so here's a hackysack / 'juggling ball' commission we just finished up recently.  We've changed up the main page's image carousel, with hopes to make that a regular thing to do on updates.  Hopefully very soon, we'll have our dice pendants ready to show!</p>
        <a href="product/BALL-HACKEY-SS">
          <img class="img-responsive center-block" src="images/gallery/ball-hackey-ss-g.jpg">
        </a>
        <p class="p-2 p-3">2014-05-21
          <br>Finally, the website overhaul is nearly complete, and new pictures of previous weaves, as well as completely new weaves are rolling in, slowly but surely!  There's more to come folks, but lets just start with a replacement of the previous bracelet.</p>
        <a href="product/BRACELET-DRAGONSTEPS-C">
          <img class="img-responsive center-block" src="images/gallery/bracelet-dragonsteps-c-g.jpg">
        </a>
        <p class="p-2 p-3">2013-10-23
          <br>Another five weaves have made the way up to site, which I do look forward to seeing in shiny anodized aluminium colors sometime when I have the spare rings or commissions to match up. I'm particularly enjoying Dragonsteps, as it is both enjoyable to look at, as well as a neat feeling texture.</p>
        <a href="product/BRACELET-DRAGONSTEPS-C">
          <img class="img-responsive center-block" src="images/gallery/bracelet-dragonsteps-01-g.jpg">
        </a>
        <p class="p-2 p-3">2013-10-17
          <br>&nbsp; A lot of work has gone on, over the last two months, getting more of the site working, 'responsive' in images, far more reasonable in image load times, better pictures up, and more items tinkered with. Let's hear it for progress!
          <br>&nbsp; Taking a break from my loong commission of a chainmaille shirt, I whipped up a few things to get out of the rut, including a little bracelet for myself. I hope to get a wee bit better about update notices, even though part of why I held off was a hope that we'd have a different news system in place by now.</p>
        <a href="product/BRACELET-HP4IN1-AA">
          <img class="img-responsive center-block" src="images/gallery/bracelet-hp4-in-1-07-g.jpg">
        </a>
        <p class="p-2 p-3">2013-08-09
          <br>&nbsp; Bit by bit, the website is getting finished, upgraded in places, and closer to ready to 'live' status. Items are getting reshot, and finally.. we have a color example chain. Mind you, dye lots cause differing results, so the colors are faar from garunteed, beyond 'same color type in the piece itself'.</p>
        <a href="">
          <img class="img-responsive center-block" src="images/gallery/color-example-chain-01-g.jpg">
        </a>
        <p class="p-2 p-3">&nbsp; Hopefully, we'll get the news section replaced with something more 'suited' soon, be it tumbler or facebook interactions, or something matched to the website itself directly.</p>
      </div>
    </div>
    <div class="col-xs-11 col-md-6">
      <div class="blob dkblue r15">
        <h2>Sales</h2>
        <p>While technically not a sale, the price on dicebags has been lowered as an experiment.  We'll see where it finalizes at later!<br>Currently, there are no running sales right now.  Hopefully soon! Till then, here's one of our bracelets that we enjoyed making.</p>
        <a href="product/BRACELET-BOXWEAVE-C">
          <img class="img-responsive center-block" src="images/gallery/bracelet-boxweave-c-g.jpg">
        </a>
      </div>
    </div>