  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a id="brand" target="_self" ng-href="/">Foxtail Artisanry</a> 
      <a target="_blank" ng-href="https://www.facebook.com/foxtail.artisanry">
        <img src="images/zzicon-facebook.png">
      </a>
      <a target="_blank" ng-href="https://twitter.com/FoxtailArtisan">
        <img src="images/zzicon-twitter.png">
      </a>
      <a target="_blank" ng-href="http://foxtail-artisanry.tumblr.com/">
        <img src="images/zzicon-tumblr.png">
      </a>
      <a target="_blank" ng-href="https://pinterest.com/FoxtailArtisan/">
        <img src="images/zzicon-path.png">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdaen" style="margin: 0; vertical-align: middle;">
        <span>Toggle Menu</span><i class="fa fa-arrow-circle-down" style="margin-left: 5px;"></i>
      </button>
    </div>
    <div class="container-fluid">
      <ul id="dropdaen" class="collapse navbar-collapse nav navbar-nav navbar-right">
        <li>
          <a target="_self" ng-href="/gallery">Jewelry</a>
        </li>
        <li>
          <a target="_self" ng-href="/gallery">Misc</a>
        </li>
        <li>
          <a target="_self" ng-href="/gallery">Armour</a>
        </li>
        <li>
          <a target="_self" ng-href="gallery-weaves.html">Weaves</a>
        </li>
        <li>
          <a target="_self" ng-href="/faq">FAQ</a>
        </li>
        <li>
          <a target="_self" ng-href="/about">About</a>
        </li>
        <li>
          <a target="_self" ng-href="/contact">Contact</a>
        </li>
        <li>
          <a target="_blank" ng-href="http://www.etsy.com/shop/FoxtailArtisanry">Etsy</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- <div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
  </ul>
  <h3 class="text-muted">foxtailArtisanrycom</h3>
</div> -->