/*=================
  GLOBAL - Carousel
=================*/
/*--------------
  Structural
--------------*/
.carousel-wrapper { position:relative; overflow:hidden; }
.carousel-wrapper ul { margin:0; padding:0; list-style:none; }
.carousel-wrapper .mask { overflow:hidden; position:relative; }
.carousel-wrapper .carousel { position:absolute; left:0; }

/*--------------
  Control Buttons
--------------*/
.carousel-wrapper .btn { position:relative; cursor:pointer; }
.carousel-wrapper .btn span { background-image:url('images/carouselSprite.png'); background-repeat:no-repeat; display:block; }

/*--------------
  Pagination
--------------*/
.carousel-wrapper ul.pages { position:absolute; }
.carousel-wrapper ul.pages li { background-image:url('images/carouselSprite.png'); background-repeat:no-repeat; background-position:-112px -3px; height:10px; width:10px; cursor:pointer; }
.carousel-wrapper ul.pages li.active { background-position:-154px -3px !important; }
.carousel-wrapper ul.pages li:hover { background-position:-66px -3px; }

/*--------------
  Pagination
--------------*/
.carousel-wrapper div.playPause { position:absolute; right:0; }
.carousel-wrapper div.playPause>span { position:relative; display:block; height:26px; width:26px; background-image:url('images/carouselSprite.png'); }

.carousel-wrapper div.playPause span.play { background-position:-4px -1px; }
.carousel-wrapper div.playPause span.play:hover { background-position:-4px -30px; }

.carousel-wrapper div.playPause span.pause { background-position:-4px -59px; }
.carousel-wrapper div.playPause span.pause:hover { background-position:-4px -88px; }

/*=================
  Transitions
=================*/
/*--------------
  Cross Fade
--------------*/
.carousel-wrapper.xfade .carousel li.xfade { position:absolute; top:0; left: 0; margin:0; }

/*=================
  HORIZONTAL
=================*/
/*--------------
  Structural
--------------*/
.carousel-wrapper.horizontal .mask { float: left; }
.carousel-wrapper.horizontal .carousel li { float:left; margin:0 5px; }
.carousel-wrapper.horizontal .mask { margin:0 5px; }

/*--------------
  Control Buttons
--------------*/
.carousel-wrapper.horizontal .btn { width:21px; float:left; background:url('images/bghorizontal.jpg') top left repeat-y; }
.carousel-wrapper.horizontal .btn span { min-height:29px; width:21px; position:absolute; top:50%; }

.carousel-wrapper.horizontal .previous span { background-position:-125px -23px; }
.carousel-wrapper.horizontal .previous.disabled span { background-position:-125px -88px !important; }
.carousel-wrapper.horizontal .previous:hover span { background-position:-125px -57px; }

.carousel-wrapper.horizontal .next span { background-position:-168px -23px; }
.carousel-wrapper.horizontal .next.disabled span { background-position:-168px -88px !important; }
.carousel-wrapper.horizontal .next:hover span { background-position:-168px -57px; }


/*--------------
  Pagination
--------------*/
.carousel-wrapper.horizontal ul.pages { left:50%; margin-top:5px; }
.carousel-wrapper.horizontal ul.pages li { float:left; margin-left:5px }
.carousel-wrapper.horizontal ul.pages li:first-child { margin-left:0; }

/*=================
  VERTICAL
=================*/
/*--------------
  Structural
--------------*/
.carousel-wrapper.vertical .carousel li { margin:5px 0; }
.carousel-wrapper.vertical .mask { margin:5px 0; }

/*--------------
  Control Buttons
--------------*/
.carousel-wrapper.vertical .btn { height:20px; background:url('images/bgvertical.jpg') top left repeat-x; }
.carousel-wrapper.vertical .btn span { height:20px; width:28px; margin:0 auto; }

.carousel-wrapper.vertical .previous span { background-position:-79px -24px; }
.carousel-wrapper.vertical .previous.disabled span { background-position:-79px -89px !important; }
.carousel-wrapper.vertical .previous:hover span { background-position:-79px -58px; }

.carousel-wrapper.vertical .next span { background-position:-37px -25px; }
.carousel-wrapper.vertical .next.disabled span { background-position:-37px -89px !important; }
.carousel-wrapper.vertical .next:hover span { background-position:-37px -59px; }

/*--------------
  Pagination
--------------*/
.carousel-wrapper.vertical ul.pages { top:50%; right:0; }
.carousel-wrapper.vertical ul.pages li { margin-top:5px; }
.carousel-wrapper.vertical ul.pages li:first-child { margin-top:0;}

/*--------------
  Transitions
--------------*/
.carousel-wrapper.vertical.xfade ul.carousel { position:relative; }