{{>base-start}}
<style>
.form-feedback {
  /*max-width: 348px;*/
  /*padding: 15px;*/
  margin: 0 auto;
}
.form-feedback .form-feedback-heading,
.form-feedback .checkbox {
  margin-bottom: 10px;
}
.form-feedback .checkbox {
  font-weight: normal;
}
.form-feedback .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: 1em;
  font-size: 16px;
}
.form-feedback .form-control:focus {
  z-index: 2;
}
.form-feedback input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-feedback input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-feedback button {
  margin-top: 1em;
}
#recaptcha_area { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

      <div class="col-xs-12 col-md-9 dkblue first-blob r15 pull-right">
          <form class="form-feedback" action="http://www.foxtail-artisanry.com/data/contact" method="POST" enctype="application/x-www-form-urlencoded" role="form">
            <h2>Contact Us</h2>
            <p>Hurr derp rawr.</p>
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Your name" name="name" />
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" placeholder="Your e-mail address" name="email" />
            <label for="message">Message:</label>
            <textarea name="message" class="form-control">
            </textarea>
            <div id="captcha">
              <script type="text/javascript"
               src="http://www.google.com/recaptcha/api/challenge?k=6LcAau8SAAAAAHbp1JcrJ2434U5kDAzGRuDpXYPf">
              </script>
              <noscript>
                <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcAau8SAAAAAHbp1JcrJ2434U5kDAzGRuDpXYPf"
                 height="300" width="500" frameborder="0"></iframe><br>
                <textarea name="recaptcha_challenge_field" rows="3" cols="40" class="form-control">
                </textarea>
                <input type="hidden" name="recaptcha_response_field"
                 value="manual_challenge">
              </noscript>
          </div> <!-- captcha -->
          <button class="btn btn-lg btn-primary btn-block" type="submit">Send Message</button>
        </form>

      </div>
    </div> <!-- row -->
  </div> <!-- container -->
{{>base-end}}