<div ng-include="'partials/navbar.html'"></div>
<style>
.row { color: white; }
</style>
<div class="row">
  <div class="col-sm-12">
    <h1>Admin Dashboard</h1>
  </div>
  <div class="col-sm-12">
    Content content! :3 
    <br>
    You are logged in as: "{{user.name}}" at {{user.email}}.<br>
    <a ng-click="logout()">Logout</a>

    <div class="panel panel-default">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="file" file-model="dataFile"/>
        </div>
        <button ng-click="submitFile()" type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>
    <div>
      <br>
      <br>
      <p>Number of products in database: {{numProducts}}</p>
      <!-- <a ng-click="clearProducts()">Destroy products</a> -->
    </div>
  </div>
</div>